/*BASE BODY CONTAINER */
body {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 500px
}


/* CALCULATOR DISPLAY AT THE TOP */
.display-top {
    border: 1px solid black;
    display: flex;
    flex: 1;
    letter-spacing: 2px;
}

#display-text {
    background-color: whitesmoke;
    flex: 1;
    border: 20px solid #CBDFBD;
    padding: 10px;
    margin: 0;
    font-size: 90px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


/* BUTTON CONTAINER BELOW THE DISPLAY */
.display-bottom {
    flex: 3;

    display: flex;
}

/* MATHEMATICAL OPERATIONS */
.left-buttons {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.clear-button {
    width: 123.33px;
    height: 150px;

    display: flex;
}

.clr {
    background-color: #F6F4D2;
    border: 1px solid black;
    padding: 10%;
    font-size: x-large;
    flex: 1;
}

.math-button {
    display: flex;
    flex-direction: column;
    flex: 2.9999;
}

.mathoperation {
    background-color: #D4E09B;
    font-size: xx-large;
    flex: 1;
    border: 1px solid black;
}

/* CALCULATOR BUTTONS FOR NUMBERS */
.right-buttons {
    flex: 4;

    display: flex;
    flex-direction: column;
}

.numbers-container {
    flex: 4;

    display: flex;
    flex-wrap: wrap;
}

.number {
    background-color: #F19C79;
    border: 1px solid black;
    padding: 10%;
    width: 33.333%;
    font-size: x-large;
}

.equals {
    background-color: #F6F4D2;
    font-size: xx-large;
    flex: 2;
}