@font-face {
    font-family: digital-7; 
    src: url('digital-7/digital-7.ttf');
}

/*BASE BODY CONTAINER */
body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #F0E9AF;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 500px;
    padding: 10px;
}


/* CALCULATOR DISPLAY AT THE TOP */
.display-top {
    font-family: digital-7;
    background-color: #F6F4D2;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex: 1;
    letter-spacing: 2px;
}

#display-text {
    background-color: rgb(125, 140, 115);
    border-radius: 20px 20px 20px 20px;
    border: 10px solid #B6C8AA;
    margin: 18px 15px;
    font-size: 90px;
    color: rgb(53, 53, 53);
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* BUTTON CONTAINER BELOW THE DISPLAY */
.display-bottom {
    flex: 3;

    display: flex;
}

/* MATHEMATICAL OPERATIONS */
.left-buttons {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.clear-button {
    width: 123.33px;
    height: 150px;

    display: flex;
}

.clr {
    background-color: #F6F4D2;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0.5px solid black;
    border-right: 0.5px solid black;
    padding: 10%;
    font-size: x-large;
    flex: 1;
}

.clr:hover {
    background-color: #F0E9AF;
    transition: 0.3s;
}

.math-button {
    display: flex;
    flex-direction: column;
    flex: 2.9999;
}

.mathoperation {
    background-color: #D4E09B;
    font-size: xx-large;
    flex: 1;
    border: 1px solid black;
}

.mathoperation:hover {
    background-color: #C0CA8B;
    transition: 0.3s;
}

#multiplication {
    border-radius: 0px 0px 0px 20px;
}

/* CALCULATOR BUTTONS FOR NUMBERS */
.right-buttons {
    flex: 4;

    display: flex;
    flex-direction: column;
}

.numbers-container {
    flex: 4;

    display: flex;
    flex-wrap: wrap;
}

.number {
    background-color: #F19C79;
    border: 1px solid black;
    padding: 10%;
    width: 33.333%;
    font-size: x-large;
}

.number:hover {
    background-color: #DA8C6D;
    transition: 0.3s;
}

#equals {
    background-color: #F6F4D2;
    border: 1px solid black;
    border-radius: 0px 0px 20px 0px;
    font-size: xx-large;
    flex: 2;
}

#equals:hover {
    background-color: #F0E9AF;
    transition: 0.3s;
}